<footer>
    <div class="f-info">
        <div class="f-social-link">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="f-insta"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-wonderlust">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>