<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="alert alert-danger error-box" role="alert">
       <div class="error-msg w-50"><h1><%= err %></h1></div>
       <div class="error-img w-40"><img src="https://media.istockphoto.com/id/1481191904/photo/paper-speech-bubble-with-the-word-oops-on-a-yellow-background-top-view-with-copy-space-flat.jpg?b=1&s=612x612&w=0&k=20&c=Mftz06OpIrGK0Wrw5JFFXCRqS239mOLC3q_6PHeNRZM=" alt="error"></div>
    </div>
</div> 