<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <div class="login-box flex">
        <div class="login flex">
            <form method="post" action="/login" class="row g-3 needs-validation" novalidate >
                <div class="login-main">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" placeholder="Enter Username" class="form-control" required>
                        <div class="valid-feedback">Username Looks good!</div>  
                        <div class="invalid-feedback">Please enter Your Username</div>  
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter Password" class="form-control" required>
                        <div class="invalid-feedback">Please Enter Your Password</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>